<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image manager</title>
</head>
<body>
<form>
    <input type="text">
    <input type="file">
    <input type="submit">
</form>
<table>
    <tr>
        <th>Превью фото</th>
        <th>Название фото</th>
        <th>Производитель и модель камеры</th>
        <th>Размер файла</th>
        <th>Дата созданияо</th>
        <th>Дата загрузки</th>
        <th>Удалить</th>

    </tr>
    <tr>
        <td>row.prview_url</td>
        <td>row.name</td>
        <td>f'{row.exif_vendor} {row.exif_model}'</td>
        <td>row.file_size</td>
        <td>row.exif_date.strftime('%Y-%m-%d %H:%M')</td>
        <td>row.upload_date.strftime('%Y-%m-%d %H:%M')</td>
        <td><img src="/static/delete.jpg" alt="delete"></td>
    </tr>
</table>
</body>
</html>